* {
  font-size: 16px;
  font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}
window#waybar {
  background: #1a1b26;
  border-radius: 10px;
  font-family: SpaceMono Nerd Font, feather;
}
#custom-menu {
	font-size: 26px;
	 padding-left: 1px;
    padding-right: 5px;
    color: #7aa2f7;
}
#workspaces button {
  color: #c0caf5;
} 
#workspaces button.active {
  color: #f7768e;
}
#workspaces button:hover {
  background: transparent;
  border: none;
}
#language {
  color: #ff9e64;
  }
#pulseaudio {
  color: #9ece6a;
}
#network {
  color: #bb9af7;
}
#clock {
  color: #c0caf5;
}
#custom-power {
	font-size: 30px;
	transition: none;
    color: #f7768e;
}
