* {
  font-size: 14px;
  font-family: "JetbrainsMono Nerd Font" ;
}
window#waybar {
  background: transparent;
}
#workspaces button {
  color: #a9b1d6;
}
#workspaces button.active {
  color: #f7768e;
}
#workspaces button:hover {
  background: transparent;
  border: none;
}
.modules-left {
  background: #1a1b26;
  border-radius: 10px;
}
.modules-center {
  padding: 0 10px;
  background: #1a1b26;
  border-radius: 10px;
}
.modules-right {
  padding: 0 10px;
  background: #1a1b26;
  border-radius: 10px;
}
#temperature {
  color: #7dcfff;
}
#memory {
  color: #ff9e64;
}
#cpu {
  color: #9ece6a;
}
#language {
  color: #ff9e64;
  }  

#pulseaudio {
  color: #9ece6a;
}
#network {
  color: #bb9af7;
}
#clock {
  color: #a9b1d6;
}
